.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.asteroidIcon {
    display: flex;
    align-items: flex-end;
    margin: 14px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info h3 {
    color: #0f172a;
}

.detail {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    color: #0f172a;
    font-size: 15px;
    font-weight: 500;
}

